extends layout

block content
  hr
  h1(class='text-center') Members Area
  p(class='text-center') This page is accessible only after You have logged in...All the secure content that should be shared with only members can go here...
